$color-primary: hsl(225, 48%, 25%);
$color-primary--dark: hsl(225, 49%, 20%);

$color-secondary: hsl(169, 39%, 70%);
$color-secondary--dark: hsl(170, 21%, 56%);

$color-tertiary: hsl(170, 37%, 97%);

$color-white: hsl(0, 0%, 100%);

$color-grey: hsl(225, 16%, 80%);
$color-grey--2: hsl(0, 0%, 75%);
